<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Lista de Tarefas</h1>
    <a href="/tasks/new" class="btn">+ Nova Tarefa</a>
  </header>

  <section>
    <% if (tasks.length === 0) { %>
      <p>Nenhuma tarefa cadastrada.</p>
    <% } else { %>
      <ul class="task-list">
        <% tasks.forEach(task => { %>
          <li class="task-item">
            <strong><%= task.title %></strong>  
            <p><%= task.description %></p>
            <p>Status: <%= task.status %></p>
            <p>Categoria: <%= task.category %></p>

            <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn-delete">Excluir</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } %>
  </section>
<a href="/users/new" class="btn">+ User</a>
<script src="/js/tasks.js"></script>
</body>
</html>
